<template>
    <lightning-card
            variant="narrow"
            title="Add/Update Product">
        <h1 slot="title">Add/Update Product</h1>
        <div style="width:98%; text-align:right;">
            <lightning-button label="Search in SAP" onclick={handleClick}></lightning-button>
            <lightning-button label="Remove Product" onclick={removeProduct} style="margin-left: 5px;"></lightning-button>
        </div>
    </lightning-card>

    <div if:true={showModal}>
        <section role="dialog" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container" style="margin: 0 auto;
                                                width: 90%;
                                                max-width: 100%;
                                                min-width: 20rem;">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" title="Image"></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Add/Update Product</h2>
            </header>
          
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="padding: 0;overflow-x: auto;">
                <div if:true={showLoader} class="exampleHolder">
                    <lightning-spinner variant="brand" alternative-text="Loading" size="medium"></lightning-spinner>
                </div>
                
                <div if:true={showSelectTable} class="slds-card" style="min-height: 500px; border-radius: 0px 3px 3px 0;">
                    
                    <div class="slds-card__body slds-card__body_inner" style="padding:0; margin:0;">
                        <table if:true={dataListLength} class="slds-tabl slds-table  slds-table_striped slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Material Number">Material Number</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Description">Description</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Plant">Plant</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Available Stock">Available Stock</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Batch Number">Batch Number</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Serial Number">Serial Number</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={dataList} for:item="cell" for:index="index">
                                    <tr key={cell}>
                                        <td>
                                            <div class="slds-truncate">
                                                <a href="javascript:void(0);" id={cell.MATNR} onclick={getSelectedRow}>{cell.MATNR}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {cell.description}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {cell.WERKS}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {cell.LABST}
                                            </div>
                                        </td>
                                        <td style="padding-left: 10px;">
                                            <div class="slds-truncate">
                                                {cell.CHARG}
                                            </div>
                                        </td>
                                        <td style="padding-left: 10px;">
                                            <div class="slds-truncate">
                                                {cell.SERNR}
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
            </footer>
        </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>