<!--
  @description       : 
-->
<template>
    <lightning-card  variant="Narrow"  
                    title="Calendar" icon-name="standard:event">
        <div class="slds-grid">
            <select class="slds-select" style="position: absolute;
                                                width: 50%;
                                                right: 50px;
                                                top: 10px;"
                                                onchange={loadUserEvents}>
                <option value="">--Select User--</option>
                <template for:each={allUsers} for:item="cell" for:index="index">
                    <option key={cell.Id} value={cell.Id}>{cell.Name}</option>
                </template>
            </select>
            <lightning-icon size="x-small" onclick={addUser} icon-name="action:new" title="Add User" style="cursor: pointer;
            width: 32px;
            height: 32px;
            position: absolute;
            right: 10px;
            top: 10px;"></lightning-icon>
                                        
            <div class="slds-m-around_small">
                <div id="calendar" class="fullcalendarjs"></div>
            </div>
        </div>
        <template if:true={selectedEvent}>
            {selectedEvent.title}
        </template>
        <template if:true={selectedEvent} >
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
                     aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Event Details</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        
                        <lightning-card  variant="Narrow"  title="Hello" icon-name="standard:event">
                            <p class="slds-p-horizontal_small">
                                Subject : {selectedEvent.title}
                            </p>
                            <p class="slds-p-horizontal_small">
                                StartDate : 
                                <lightning-formatted-date-time 
                                                               value={selectedEvent.start}
                                                               year="2-digit" month="short" 
                                                               day="2-digit" weekday="long">
                                </lightning-formatted-date-time>
                                
                            </p>
                            <p class="slds-p-horizontal_small">
                                EndDate : 
                                <lightning-formatted-date-time 
                                                               value={selectedEvent.end}
                                                               year="2-digit" month="short" 
                                                               day="2-digit" weekday="long">
                                </lightning-formatted-date-time>
                            </p>
                            <p class="slds-p-horizontal_small">
                                description : 
                                {selectedEvent.description}
                            </p>
                        </lightning-card>
                        
                    </div>
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_brand" onclick={closeModal}>Close</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </lightning-card>
</template>