.THIS .uiMessage {
    margin: 0;
}
.THIS .green {
    color: green;
    text-align: right;
}
.THIS .red {
    color: #c00;
    text-align: right;
}
.THIS .alignright {
    text-align: right;
}
.THIS .top100 .slds-template__container .slds-spinner_container {
    z-index: 1111111111111111111111111 !important;
}