.slds-tabl td {
    padding: 4px;
}
.ccard .slds-card {
    border-radius: 0px !important;
    min-height: 550px !important;
    background: #fafafa !important;
}
.slds-template_default {
    padding: o;
}
.slds-form-element__label:empty {
    margin: 0;
    display: none;
}
.slds-input { 
    border: none;
    border-radius: 0;
    margin: 0;
    line-height: 1;
    min-height: 25px;
}
.slds-card__header {
    background: #f3f3f3;
    color: #0f4177;
    padding: 10px 5px 5px 10px;
    text-align: center;
    margin: 0;
}
.slds-card {
    border: none;
}
.slds-table_cell-buffer tr>th:first-child, .slds-table--cell-buffer tr>th:first-child {
    padding-left: 10px;
}
.red .slds-input, .red .slds-truncate, .red td {
    background:#ffd5d5;
}
.yellow .slds-input, .yellow .slds-truncate, .yellow td{
    background:#ffffad;
}
.blue .slds-input, .blue .slds-truncate, .blue td{
    background:#c4c5ff;
}
.green .slds-input, .green .slds-truncate, .green td{
    background:#c8ffc8;
}
.redtxt {
    color: red;
}
.yellowtxt{
    color: yellow;
}
.bluetxt{
    color: #17b;
}
.greentxt{
    color: green;
}
.slds-textara .slds-textarea {
    height: 200px !important;
}
.icnbtn .slds-button {
    padding: 0 0 0 9px;
}
.slds-icon {
    color: #555 !important;
}