<template>
    <div class="slds-grid slds-gutters" style="margin-top: -17px;">
    <div class="slds-col slds-size_2-of-12" style="padding: 10px;
                                                    border-radius: 0;
                                                    background: rgb(15, 65, 119);
                                                    color: rgb(255, 255, 255);
                                                    min-height: 600px;">
        
        <h1 style="font-size: 16px;
                    margin-bottom: 10px;
                    border: 1px solid #fff;
                    padding: 4px 10px;
                    border-radius: 2px;
                    box-shadow: 0 5px 5px rgb(34 86 142);">Lead Sheets</h1>

        <ul class="slds-has-dividers_bottom slds-has-block-links_space">
            <template for:each={leadSheetData} for:item="cell" for:index="index">
                <li class="slds-item slds-truncate" key={cell.Id}>
                    <a href="javascript:void(0);" style="color: #fff;" onclick={getSheetData} id={cell.Id}>{cell.Name}</a>
                    <lightning-icon icon-name="utility:new_window"
                                    alternative-text="new_window"
                                    variant="inverse"
                                    size="xx-small" 
                                    id={cell.Id}
                                    onclick={openLeadSheet}
                                    style="float: right;
                                    margin-top: -25px;"></lightning-icon>
                </li>
            </template>
        </ul>
    </div>
            
    <div class="slds-col slds-size_10-of-12" style="padding: 0;">
        
        <div class="slds-card" if:false={showImportLead} style="min-height: 600px; border-radius: 0;">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-account" title="account">
                            <lightning-icon icon-name="standard:account" title={sheetName}></lightning-icon>
                            <span class="slds-assistive-text">{sheetName}</span>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <span>{sheetName}</span>
                        </h2>
                    </div>
                    <div class="slds-no-flex">
                        <lightning-button if:true={showNewBtn} label="New Lead Sheet" slot="actions" onclick={showNewPopup} style="margin-right: 5px;"></lightning-button>
                        <lightning-button if:true={selectLeadSheetId} label="Import Leads" slot="actions" onclick={showImportLeadPopup} style="margin-right: 5px;"></lightning-button>
                        <!--<lightning-button if:true={selectLeadSheetId} label="Add Columns" slot="actions" onclick={showAddColumnPopup} style="margin-right: 5px;"></lightning-button>
                        -->
                        <lightning-button if:true={showLeadDistributionBtn} label="Lead Distribution" slot="actions" onclick={showLeadDistributionPopup} style="margin-right: 5px;"></lightning-button>
                        <lightning-button if:true={selectLeadSheetId} label="Email Sheet" slot="actions" onclick={emailSheet} style="margin-right: 5px;"></lightning-button>
                        <lightning-button if:true={selectLeadSheetId} label="Availability Email" slot="actions" onclick={availabilityEmail} style="margin-right: 5px;"></lightning-button>
                        <lightning-button if:true={selectLeadSheetId} label="Export" slot="actions" onclick={exportSheet} style="margin-right: 5px;"></lightning-button>
                        <lightning-button if:true={selectLeadSheetId} label="Share" slot="actions" onclick={shareSheet} style="margin-right: 5px;"></lightning-button>
                        <lightning-button class="icnbtn" icon-name="utility:dayview" slot="actions" onclick={toggleCalendar}></lightning-button>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-card__body_inner" style="margin: 0;
                                                                      padding: 0;">
                <div class="slds-grid slds-gutters">
                    <div class={midSectionCls}>
                        <div if:true={selectLeadSheetId} style="height: 600px;overflow-y: auto;">
                            <table if:true={showTable} class="slds-tabl slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                                <thead>
                                    <tr class="slds-line-height_reset">
                                        <!--<th style="width: 25px;"></th>-->
                                        <th style="width: 65px;position: sticky;
                                                    z-index: 3;
                                                    top: 0;"></th>
                                        <th class="" scope="col" style="position: sticky;
                                                                        z-index: 3;
                                                                        top: 0;">
                                            <div class="slds-truncate" title="First Name">First Name</div>
                                        </th>
                                        <th class="" scope="col" style="position: sticky;
                                                                        z-index: 3;
                                                                        top: 0;">
                                            <div class="slds-truncate" title="Last Name">Last Name</div>
                                        </th>
                                        <th class="" scope="col" style="position: sticky;
                                                                        z-index: 3;
                                                                        top: 0;">
                                            <div class="slds-truncate" title="Email">Email</div>
                                        </th>
                                        <th class="" scope="col" style="position: sticky;
                                                                        z-index: 3;
                                                                        top: 0;">
                                            <div class="slds-truncate" title="Phone">Phone</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template for:each={leadData} for:item="cell" for:index="index">
                                        <tr class={cell.Column_Color__c} key={cell.Id}>
                                            <!--<td>
                                                <input type="checkbox" style="margin: 5px 0px 0px 5px;"/>
                                            </td>-->
                                            <td style="white-space: normal;">
                                                <lightning-icon size="xx-small" id={cell.Id} icon-name="utility:log_a_call" alternative-text="Log a Call" title="Log a call" style="margin-left: 5px;cursor:pointer;" onclick={addTask}></lightning-icon>
                                                <lightning-icon size="xx-small" id={cell.Id} icon-name="utility:paste" alternative-text="View Activity" title="View Activity" style="margin-left: 5px;cursor:pointer;" onclick={viewTasks}></lightning-icon>
                                                <lightning-icon size="xx-small" icon-name="utility:new_window" alternative-text="new_window" id={cell.Id} style="margin-left: 5px;cursor:pointer;" onclick={openLeadSheet}></lightning-icon>
                                            </td>
                                            <td>
                                                <div class="slds-truncate">
                                                    {cell.FirstName}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="slds-truncate">
                                                    {cell.LastName}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="slds-truncate">
                                                    {cell.Email}
                                                    <!--<input type="text" value={cell.Email} class="slds-input"></input>-->
                                                </div>
                                            </td>
                                            <td style="padding-left: 10px;">
                                                <div class="slds-truncate">
                                                    <span style="display:none">{cell.Id}</span>
                                                    <lightning-formatted-phone value={cell.Phone}></lightning-formatted-phone>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
        
                            <div if:false={showTable}>
                                <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
                                    <span class="slds-assistive-text">warning</span>
                                    <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" title="Description of icon when needed">
                                        <lightning-icon icon-name="utility:warning" alternative-text="Connected" size="x-small"
                                    title="x-small size"></lightning-icon>
                                    </span>
                                    <h2>No Records. Please use Import Leads to add leads to this Sheet.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class={calSectionCls} if:true={showCalender}>
                        <c-lwc-calender ls-id={selectLeadSheetId} onvalueselectedcall={addUser}></c-lwc-calender>
                    </div>
                </div>
            </div>
        </div>

        <div if:true={showLoader} class="exampleHolder">
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>

        <div if:true={showTasks}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">Activities</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium">
                        <ul class="slds-timeline">
                            <template for:each={tasksData} for:item="cell" for:index="index">
                                <li key={cell.Id}>
                                    <div class="slds-timeline__item_expandable slds-timeline__item_task slds-is-open">
                                      <span class="slds-assistive-text">log_a_call</span>
                                      <div class="slds-media">
                                        <div class="slds-media__figure">
                                            <button class="slds-button slds-button_icon" title="Toggle details for Mobile conversation on Monday" aria-controls="call-item-base">
                                                <lightning-icon icon-name="utility:check" alternative-text="Connected" size="x-small"></lightning-icon>
                                            </button>
                                            <div class="slds-icon_container slds-icon-standard-log-a-call slds-timeline__icon" title="call">
                                                <lightning-icon icon-name="standard:log_a_call" alternative-text="Connected" size="small"></lightning-icon>
                                            </div>
                                        </div>
                                        <div class="slds-media__body">
                                            <div class="slds-grid slds-grid_align-spread slds-timeline__trigger">
                                                <div class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
                                                    <h3 class="slds-truncate" title="Mobile conversation on Monday">
                                                        <a href="javascript:void(0);" class={cell.Subject}>
                                                            <strong>{cell.Status__c}</strong><br/>
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div class="slds-timeline__actions slds-timeline__actions_inline">
                                                    <p class="slds-timeline__date">
                                                        <lightning-formatted-date-time value={cell.CreatedDate}></lightning-formatted-date-time>
                                                    </p>
                                                </div>
                                          </div>
                                            <p class="slds-m-horizontal_xx-small">
                                                {cell.Status_Reason__c}
                                            </p>
                                            <article if:true={cell.Description} class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small slds-p-around_medium" aria-hidden="false">
                                                <div>
                                                    <span class="slds-text-title">Description</span>
                                                    <p class="slds-p-top_x-small">{cell.Description}</p>
                                                </div>
                                            </article>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                            </template>
                        </ul>
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Ok">Ok</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>

        <div if:true={showLeadDistribution}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" style="width: 90%;
                                                        min-width: 90%;">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">Lead Distribution: {sheetName}</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" style="padding: 2px;">
                        <div class="slds-form" role="list" style="width: 90%;
                                                                  margin: 20px 0 10px 5%;">
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                                        <label class="slds-form-element__label" for="single-form-element-id-02">Start Call Date</label>
                                        <div class="slds-form-element__control">
                                            <lightning-input type="date" onchange={handlestartcalldate}></lightning-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                                        <label class="slds-form-element__label" for="single-form-element-id-03">Start Optimal Date</label>
                                        <div class="slds-form-element__control">
                                            <lightning-input type="date" onchange={handlestartoptimaldate}></lightning-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                                        <label class="slds-form-element__label" for="single-form-element-id-02"># Of Leads</label>
                                        <div class="slds-form-element__control">
                                            <label>{lCount}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                                        <label class="slds-form-element__label" for="single-form-element-id-03">Look Forward Date</label>
                                        <div class="slds-form-element__control">
                                            <lightning-input type="date" onchange={handlelookforwarddate}></lightning-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="slds-button slds-button_brand" onclick={addNewRow} style="float: right;
                        margin: 5px;" title="Add Row">Add Row</button>
                        
                        <table if:true={showTable} class="slds-tabl slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th class="" scope="col" style="width:200px;">
                                        <div class="slds-truncate" title="User">User</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Sequence #">Sequence #</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Monday">Monday</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Tuesday">Tuesday</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Wednesday">Wednesday</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Thursday">Thursday</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Friday">Friday</div>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={leadTeamData} for:item="cell" for:index="index">
                                    <tr key={cell}>
                                        <td>
                                            <c-custom-lookup child-object-api-name='Lead_Team__c' index={index} value={cell.User__c}
                                                target-field-api-name='User__c' onvalueselected={handleValueSelcted}></c-custom-lookup>
                                        </td>
                                        <td>
                                            <lightning-input type="number" value={cell.Sequence__c} style="margin-top: -17px;" 
                                            data-id={index} onchange={rowSelChangeEvent}></lightning-input>
                                        </td>
                                        <td>
                                            <lightning-input type="number" value={cell.Monday__c} style="margin-top: -17px;"
                                            data-id={index} onchange={rowMonChangeEvent}></lightning-input>
                                        </td>
                                        <td>
                                            <lightning-input type="number" value={cell.Tuesday__c} style="margin-top: -17px;"
                                            data-id={index} onchange={rowTueChangeEvent}></lightning-input>
                                        </td>
                                        <td>
                                            <lightning-input type="number" value={cell.Wednesday__c} style="margin-top: -17px;"
                                            data-id={index} onchange={rowWedChangeEvent}></lightning-input>
                                        </td>
                                        <td>
                                            <lightning-input type="number" value={cell.Thursday__c} style="margin-top: -17px;"
                                            data-id={index} onchange={rowThuChangeEvent}></lightning-input>
                                        </td>
                                        <td>
                                            <lightning-input type="number" value={cell.Friday__c} style="margin-top: -17px;"
                                            data-id={index} onchange={rowFriChangeEvent}></lightning-input>
                                        </td>
                                        <td>
                                            <lightning-icon data-id={index} size="x-small" onclick={deleteTeam} icon-name="action:delete" alternative-text="Delete" title="Delete"></lightning-icon>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>

                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={distributeLeads} title="Allocate">Allocate</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>

        <div if:true={showCalendarCall}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">Add User Calendar</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" style="height: 200px;">
                        <c-custom-lookup child-object-api-name='Lead_Team__c'
                        target-field-api-name='User__c' onvalueselected={handleValueSelcted}></c-custom-lookup>
                
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={createCalendarCall} title="Add">Add</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>

        <div if:true={showLogCall}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">Log a Call</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" style="height: 410px;">
                        <lightning-combobox
                            name="Status"
                            label="Status"
                            placeholder="Select Status"
                            value={status}
                            options={statusPicklist} onchange={getStatusReason}></lightning-combobox>
                    
                            <lightning-combobox
                                name="Status Reason"
                                label="Status Reason"
                                placeholder="Select Status Reason"
                                value={reason}
                                options={statusReasonPicklist}
                                onchange={fillStatusReason}></lightning-combobox>

                            <label class="slds-form-element__label">Comments</label>
                            <textarea
                                name="Comments"
                                placeholder="Enter Comment"
                                style="height: 250px;"
                                class="slds-form-element slds-textarea"
                                onchange={fillComment}>{comment}</textarea>
                    
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={createTaskCall} title="Save">Save</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>

        <div if:true={showNew}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">New Lead Sheet</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <lightning-input type="text" label="Name" placeholder="Enter Sheet Name" onchange={handleTextChange}></lightning-input>
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={submitDetails} title="Save">Save</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>

        <div if:true={showShare}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">Share Sheet</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" style="overflow: unset;
                                                                                 overflow-y: unset;">
                        <label class="slds-form-element__label slds-no-flex">User</label>
                        <c-custom-lookup child-object-api-name='Lead_Team__c'
                                                target-field-api-name='User__c' onvalueselected={handleValueSelcted}></c-custom-lookup>
                        
                        
                        <lightning-combobox
                            name="Access Level"
                            label="Access Level"
                            value={accLevValue}
                            placeholder="Select Access Level"
                            options={accessOptions}
                            onchange={handleAccessChange} ></lightning-combobox>

                        <br/>

                        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th class="" scope="col">
                                        User
                                    </th>
                                    <th class="" scope="col" style="padding: 4px 0;">
                                        <div class="slds-truncate" title="">Permission</div>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={shareData} for:item="cell" for:index="index">
                                    <tr class="slds-hint-parent" key={cell.Id}>
                                        <td>
                                            <div class="slds-truncate">
                                                {cell.userName}
                                            </div>
                                        </td>
                                        <td data-label="Account Name">
                                            <div class="slds-truncate">
                                                {cell.accessLevel}
                                            </div>
                                        </td>
                                        <td style="text-align: right;">
                                            <lightning-icon size="xx-small" id={cell.accessId} onclick={deleteAccess} if:true={cell.showDelete} icon-name="utility:delete" title="Delete"></lightning-icon>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={shareSheetCall} title="Share">Share</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>


        <div if:true={showEmail}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">Send Email</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium">
                        <label class="slds-form-element__label">User</label>
                        <c-custom-lookup child-object-api-name='Lead_Team__c'
                        target-field-api-name='User__c' onvalueselected={handleValueSelcted}></c-custom-lookup>
                        <br/>
                        <lightning-textarea label="Body" placeholder="Body" class="slds-textara"></lightning-textarea>
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={emailLeadSheetCall} title="Send">Send</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>

        <div if:true={showAvailabilityEmail}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">Send Email</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" style="height:100px;">
                        <c-custom-lookup child-object-api-name='Lead_Team__c'
                        target-field-api-name='User__c' onvalueselected={handleValueSelcted}></c-custom-lookup>
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={emailAvailabilityCall} title="Send">Send</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>

        <div if:true={showColumnModal}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">Add Columns</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" style="padding:0;">
                        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th class="" scope="col" style="width:30px;">
                                    </th>
                                    <th class="" scope="col" style="padding: 4px 0;">
                                        <div class="slds-truncate" title="Column">Column</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={columnsData} for:item="cell" for:index="index">
                                    <tr class="slds-hint-parent" key={cell.value}>
                                        <td>
                                            <div class="slds-truncate">
                                                <input type="checkbox" style="margin: 5px 15px;"></input>
                                            </div>
                                        </td>
                                        <td data-label="Account Name">
                                            <div class="slds-truncate">
                                                {cell.label}
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={submitDetails} title="Save">Save</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>

    <div if:true={showImportLead}>
        <div class="slds-card">
            <div class="slds-media__body">
                <br/>
                <c-import-lead lead-sheet-id={selectLeadSheetId} onleaddatachange={refreshData}></c-import-lead>
                <br/>
            </div>       
        </div>
        </div>
    </div>
    </div>
</template>