<template>
    <lightning-record-edit-form object-api-name={objectName}>
        <lightning-input-field field-name={fieldName}  onchange={handleChange}/>
        </lightning-input-field>
    </lightning-record-edit-form>
</template>