<template>
    <lightning-card title="Import Leads" icon-name="standard:lead">
        <div style="padding: 0 15px">
            <lightning-progress-indicator current-step={currentStep} type="path" variant="shaded">
                <lightning-progress-step label="Select File" value="1"></lightning-progress-step>
                <lightning-progress-step label="Map Fields" value="2"></lightning-progress-step>
                <lightning-progress-step label="Validate" value="3"></lightning-progress-step>
                <lightning-progress-step label="Upload" value="4"></lightning-progress-step>
            </lightning-progress-indicator>
        </div>
    </lightning-card>

    <br/>

    <div if:true={showLoader} class="exampleHolder">
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>

    <lightning-card title="File" if:true={step1} icon-name="standard:file">
        <div style="padding: 0 15px">
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_3-of-12">
                    <span>
                        <lightning-input label="Select Lead File" name="Select Lead File" accept={acceptedFormats} onchange={handleUpload}
            type="file" multiple></lightning-input>
                    </span>
                </div>
                <div class="slds-col slds-size_5-of-12" style="margin-top: 25px;">
                    <span>
                        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
                            <span class="slds-assistive-text">warning</span>
                            <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" title="Description of icon when needed">
                                <lightning-icon icon-name="utility:warning" alternative-text="Connected" size="x-small"
                            title="x-small size"></lightning-icon>
                            </span>
                            <h2>Please select .csv file. If your file containing commas please replace it with <b>~~~~~</b> before uploading.</h2>
                        </div>
                    </span>
                </div>
                <div class="slds-col slds-size_4-of-12">
                    <span></span>
                </div>
            </div>
        </div>
    </lightning-card>

    <lightning-card if:true={step2}  title="Map Fields" icon-name="standard:note">
        <lightning-button if:false={showMapFields} label="Map Fields" slot="actions" onclick={showMapping}></lightning-button>
        <lightning-button if:true={showMapFields} variant="brand" label="Save &amp; Validate" slot="actions" onclick={saveValidateData} style="margin-right: 5px;"></lightning-button>
        <lightning-button if:true={showMapFields} label="Skip &amp; Validate" slot="actions" onclick={saveValidateData}></lightning-button>
    
        <table class="slds-table slds-table_bordered slds-table_cell-buffer" if:true={showMapFields}>
            <thead>
                <tr class="slds-text-title_caps">
                    <th scope="col">
                        Column
                    </th>
                    <th scope="col">
                        Lead Field
                    </th>
                </tr>
            </thead>
            <tbody>
                <template for:each={csvcolumns} for:item="clm">
                    <tr key={clm}>
                        <td>
                            {clm}
                        </td>
                        <td>
                            <lightning-combobox
                            name="progress"
                            value={clm}
                            placeholder="Select Field"
                            options={leadFields} style="width: 300px;margin-top: -20px;"
                            class="combox"></lightning-combobox>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </lightning-card>
    
    <lightning-card if:true={step3}  title="Validate Data" icon-name="standard:related_list">
        <lightning-button if:true={data} variant="brand" label="Upload" slot="actions" style="margin-right: 5px;" onclick={uploadData}></lightning-button>
        <lightning-button if:true={data} variant="success" label="Revalidate" slot="actions" style="margin-right: 5px;" onclick={revalData}></lightning-button>
        <lightning-button if:true={data} label="Reset" slot="actions" onclick={resetData}></lightning-button>
        
        <div class="slds-card" style="margin: 15px; border: 1px solid #eee;">
            <div class="slds-card__body">
                <slot>
                    <div class="slds-grid slds-gutters slds-grid_align-center">
                        <div class="slds-col slds-size_1-of-4">
                            <h1 class="h130">{recordCount}</h1>
                            <span>Total Count</span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <h1 class="h130" style="color:rgb(55, 175, 55);">{newCount}</h1>
                            <span>New Leads</span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <h1 class="h130" style="color: #17b;">{duplicateCount}</h1>
                            <span>Duplicate Leads</span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <h1 class="h130" style="color:rgb(133, 25, 25);">{invalidCount}</h1>
                            <span>Invalid Leads</span>
                        </div>
                    </div>
                </slot>
            </div>
        </div>

        <div if:true={step3}>
            <div if:true={data} class="slds-scrollable--x" style="height:100%;" >
                <lightning-datatable id="lightning-datatable"
                    data={data}
                    columns={csvcolumnsDatatable}
                    wrap-text-max-lines="4"
                    min-column-width="200"
                    hide-checkbox-column
                    key-field="id">
                </lightning-datatable>

                
                
                <!--<div style="overflow:auto;">
                    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                        <thead>
                            <tr class="slds-text-title_caps">
                                <th scope="col">
                                    
                                </th>
                                <th scope="col">
                                    Error
                                </th>
                                <template for:each={csvcolumns} for:item="clm">
                                    <th scope="col" key={clm}>
                                        {clm}
                                    </th>
                                </template>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={csvdata} for:item="cell" for:index="index">
                                <tr key={cell}>
                                    <td>
                                        {index}
                                        <lightning-icon id={index} style="cursor:pointer;" size="xx-small" icon-name="utility:edit" alternative-text="Edit" title="Edit" onclick={editRow}></lightning-icon>
                                    </td>
                                    <template for:each={cell} for:item="clm" for:index="cindex">
                                        <td data-label={clm} key={clm}>
                                            {clm}
                                            
                                            <lightning-input type="text" value={clm}></lightning-input>
                                        </td>
                                    </template>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>-->
            </div>
        </div>
    </lightning-card>

    <lightning-card if:true={step4}  title="Result" icon-name="standard:task2">
        <lightning-button if:true={data} variant="success" onclick={downloadSFile} label="Download Success File" slot="actions" style="margin-right: 5px;"></lightning-button>
        <lightning-button if:true={data} variant="destructive" label="Download Error File" slot="actions" onclick={downloadErrFile}></lightning-button>

        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_success" role="alert" style="width: 80%;
                                                                                                                    margin-top: 20px;
                                                                                                                    margin-left: 10%;">
            <span class="slds-assistive-text">warning</span>
            <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" title="Description of icon when needed">
                <lightning-icon icon-name="utility:success" alternative-text="Connected" size="x-small"
            title="x-small size"></lightning-icon>
            </span>
            <h2><b>{newCount}</b> of total <b>{recordCount}</b> uploaded successfully.</h2>
        </div>
    </lightning-card>
</template>