.slds-form-element__label:empty {
    margin: 0;
    height: 0;
    padding: 0;
    display: none;
}
.slds-card .slds-card {
    margin: 20px !important;
    border: 1px solid #eee !important;
}
.status-card .slds-card {
    margin: 20px !important;
    border: 1px solid #eee !important;
}
.slds-size_1-of-4, .slds-size--1-of-4 {
    text-align: center;
}
.h130 {
    font-size: 30px;
}
.slds-table_header-fixed thead th, .slds-table--header-fixed thead th {
    min-width: 100px !important;
}