<template>
    <input type="button" value="Add Products" class="slds-button slds-button_neutral" title="Add Products" 
           onclick={handleClick} style="position: absolute;
                                              z-index: 1;
                                              top: 29px;
                                              right: 370px;"/>
    <input type="button" value="Edit Products" class="slds-button slds-button_neutral" title="Edit Products" 
           onclick={handleEdit} style="position: absolute;
                                              z-index: 1;
                                              top: 29px;
                                              right: 250px;"/>
    
    <template if:true={showModal}>
    <section role="dialog" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container" style="margin: 0 auto;
                                                width: 90%;
                                                max-width: 100%;
                                                min-width: 20rem;">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" title="Image"></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Add Consignment Transfer</h2>
            </header>
          
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="padding: 0;overflow-x: auto;">
                <div if:true={showLoader} class="exampleHolder">
                    <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                </div>
                
                <template if:true={showSelectTable} class="slds-card" style="min-height: 500px; border-radius: 0px 3px 3px 0;">
                    <div class="slds-card__body slds-card__body_inner" style="margin:0;height: 550px;overflow-y: auto;padding:0;">
                        <div if:false={dataListLength}>
                            <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
                                <span class="slds-assistive-text">warning</span>
                                <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small">
                                    <lightning-icon icon-name="utility:warning" alternative-text="Connected" size="x-small"
                                title="x-small size"></lightning-icon>
                                </span>
                                <h2>No product with customer.</h2>
                            </div>
                        </div>

                        <!--<lightning-datatable
                                data={dList}
                                columns={columns}
                                key-field="SRNO"
                                onrowselection={getSelectedName}>
                        </lightning-datatable>

                        <lightning-datatable
            data={data}
            columns={columns}
            key-field="id"
            onrowselection={getSelectedName}>
    </lightning-datatable>-->

                        <table if:true={dataListLength} class="slds-tabl slds-table  slds-table_striped slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th scope="col" style="position: sticky;
                                                            z-index: 3;
                                                            top: 0;
                                                            width: 55px;"></th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Material Number">Material Number</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Customer Number">Customer Number</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Customer Name">Customer Name</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Description">Description</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Plant">Plant</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Available Stock">Available Stock</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Batch Number">Batch Number</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Serial Number">Serial Number</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={dList} for:item="c">
                                    <tr key={c.SRNO}>
                                        <td>
                                            <div class="slds-truncate">
                                                <lightning-input type="checkbox"
                                                onchange={getSelectedRow}
                                                checked={c.isSelected}></lightning-input>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {c.MATNR}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {c.KUNNR}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {c.customerName}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {c.description}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {c.WERKS}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {c.LABST}
                                            </div>
                                        </td>
                                        <td style="padding-left: 10px;">
                                            <div class="slds-truncate">
                                                {c.CHARG}
                                            </div>
                                        </td>
                                        <td style="padding-left: 10px;">
                                            <div class="slds-truncate">
                                                {c.SERNR}
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </template>


                <template if:true={showSelectedTable} class="slds-card" style="min-height: 500px; border-radius: 0px 3px 3px 0;">
                    <div class="slds-card__body slds-card__body_inner" style="margin:0;height: 550px;overflow-y: auto;padding:0;">
                        <table if:true={dataListLength} class="slds-tabl slds-table  slds-table_striped slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Material Number">Material Number</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Customer Number">Customer Number</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Customer Name">Customer Name</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Description">Description</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="UoM">UoM</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Quantity">Quantity</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Plant">Plant</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Available Stock">Available Stock</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Batch Number">Batch Number</div>
                                    </th>
                                    <th scope="col" style="position: sticky;
                                                                    z-index: 3;
                                                                    top: 0;">
                                        <div class="slds-truncate" title="Serial Number">Serial Number</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={selectedList} for:item="cell" for:index="index">
                                    <tr key={cell}>
                                        <td>
                                            <div class="slds-truncate">
                                                {cell.MATNR}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {cell.KUNNR}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {cell.customerName}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {cell.description}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {cell.UoM}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate" if:true={cell.showQty}>
                                                <input type="text" class="slds-input"
                                                    value={cell.quantity}
                                                    onchange={validateQuantity} style="width: 60px;"></input>
                                            </div>
                                            <div class="slds-truncate" if:false={cell.showQty}>
                                                {cell.quantity}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {cell.WERKS}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate">
                                                {cell.LABST}
                                            </div>
                                        </td>
                                        <td style="padding-left: 10px;">
                                            <div class="slds-truncate">
                                                {cell.CHARG}
                                            </div>
                                        </td>
                                        <td style="padding-left: 10px;">
                                            <div class="slds-truncate">
                                                {cell.SERNR}
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </template>
            </div>
            <footer class="slds-modal__footer slds-modal__footer_directional">
                <button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
                <button if:true={showSelectedTable} class="slds-button slds-button_neutral" onclick={goBack}>Back</button>
                <button if:true={showNextBtn} class="slds-button slds-button_brand" onclick={goNext}>Next</button>

                <button if:true={showSelectedTable} class="slds-button slds-button_brand" onclick={callSave}>Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>
</template>