.forceStyle.desktop .slds-form .form-element__label, .forceStyle.desktop .slds-form .slds-form-element__label {
    display: inline-block;
    color: #fff;
}
.frm label {
    color: #fff;
}
.slds-form-element__label:empty {
    margin: 0;
    display: none !important;
}