<template>
    <div if:true={showLoader} class="exampleHolder">
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>

    <!--<div class="slds-grid slds-gutters" style="margin-top: -17px;">-->
    <div class="slds-grid">
        <div class="slds-col slds-size_2-of-12" style="padding: 10px;
                                                        border-radius: 0;
                                                        background: rgb(243, 243, 243);
                                                        min-height: 500px;
                                                        border-radius: 3px 0 0 3px;">
            
            <h1 style="font-size: 16px;
                        margin-bottom: 10px;
                        border: 1px solid #ccc;
                        padding: 4px 10px;
                        border-radius: 2px;
                        box-shadow: #aaa 0px 1px 5px;
                        background:#fff;">Filters</h1>
    
            <div class="slds-form">
                <div class="slds-form-element slds-form-element_stacked">
                    <div class="slds-form-element__control frm">
                        <c-form-field oncallpasstoparentso={passToParentSalesOrg} field-name="CLO_Sales_Org__c" object-name="Account"></c-form-field>
                    </div>
                </div>

                <div class="slds-form-element slds-form-element_stacked">
                    <label class="slds-form-element__label">Plant</label>
                    <div class="slds-form-element__control">
                        <input type="text" class="slds-input" placeholder="Enter Plant" onchange={handlePlantChange}/>
                    </div>
                </div>

                <div class="slds-form-element slds-form-element_stacked">
                    <label class="slds-form-element__label">Material</label>
                    <div class="slds-form-element__control">
                        <input type="text" class="slds-input" placeholder="Enter Material" onchange={handleMaterialChange}/>
                    </div>
                </div>

                <div class="slds-form-element slds-form-element_stacked">
                    <label class="slds-form-element__label">Sales Rep Email</label>
                    <div class="slds-form-element__control">
                        <input type="text" class="slds-input" placeholder="Enter Sales Rep Email" onchange={handleEmailChange}/>
                    </div>
                </div>

                <div class="slds-form-element slds-form-element_stacked">
                    <div class="slds-form-element__control">
                        <c-form-field oncallpasstoparentai={passToParentAccountId} field-name="AccountId" object-name="Contact"></c-form-field>
                    </div>
                </div>

                <div class="slds-form-element slds-form-element_stacked">
                    <label class="slds-form-element__label">Consignment Stock</label>
                    <div class="slds-form-element__control">
                        <input type="checkbox" onchange={handleConsignmentStockChange} style="height: 16px;
                                                        width: 16px;
                                                        margin-top: 2px;"/>
                    </div>
                </div>

                <div class="slds-form-element slds-form-element_stacked">
                    <button class="slds-button slds-button_neutral" style="width:100%; margin-top:10px;" onclick={callSearch}>
                        Search &nbsp;&nbsp;
                        <lightning-icon size="xx-small" icon-name="utility:search" title="Search"></lightning-icon>
                    </button>
                </div>
            </div>
        </div>
                
        <div class="slds-col slds-size_10-of-12" style="padding: 0;
                                                        border-radius: 0 3px 3px 0;">
            <div class="slds-card" style="min-height: 500px; border-radius: 0px 3px 3px 0;">
                <div class="slds-card__header slds-grid" style="background: #f3f3f3;
                                                                color: #0f4177;
                                                                padding: 10px 5px 5px 10px;
                                                                text-align: center;
                                                                margin: 0;">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-account" title="Material Availability">
                                <lightning-icon icon-name="standard:fulfillment_order" title="Material Availability"></lightning-icon>
                                <span class="slds-assistive-text">Material Availability</span>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h2 class="slds-card__header-title" style="font-size: 16px;">
                                <span>Material Availability</span>
                            </h2>
                        </div>
                        <div class="slds-no-flex">
                            <button class="slds-button slds-button_neutral" onclick={openPopup} disabled={butnDisabled}>Create Consignment Transfer</button>
                        </div>
                    </header>
                </div>

                <div class="slds-card__body slds-card__body_inner" style="margin:0;height: 550px;overflow-y: auto;padding:0;">
                    <div if:false={dataListLength}>
                        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
                            <span class="slds-assistive-text">warning</span>
                            <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small">
                                <lightning-icon icon-name="utility:warning" alternative-text="Connected" size="x-small"
                            title="x-small size"></lightning-icon>
                            </span>
                            <h2>No data.</h2>
                        </div>
                    </div>

                    <table if:true={dataListLength} class="slds-tabl slds-table  slds-table_striped slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                        <thead>
                            <tr class="slds-line-height_reset">
                                <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;
                                                        width: 85px;"></th>
                                <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;
                                                        width: 15px;"></th>
                                <th scope="col" style="position: sticky;
                                                                z-index: 3;
                                                                top: 0;">
                                    <div class="slds-truncate" title="Material Number">Material Number</div>
                                </th>
                                <th scope="col" style="position: sticky;
                                                                z-index: 3;
                                                                top: 0;">
                                    <div class="slds-truncate" title="Customer Number">Customer Number</div>
                                </th>
                                <th scope="col" style="position: sticky;
                                                                z-index: 3;
                                                                top: 0;">
                                    <div class="slds-truncate" title="Customer Name">Customer Name</div>
                                </th>
                                <th scope="col" style="position: sticky;
                                                                z-index: 3;
                                                                top: 0;">
                                    <div class="slds-truncate" title="Description">Description</div>
                                </th>
                                <th scope="col" style="position: sticky;
                                                                z-index: 3;
                                                                top: 0;">
                                    <div class="slds-truncate" title="Plant">Plant</div>
                                </th>
                                <th scope="col" style="position: sticky;
                                                                z-index: 3;
                                                                top: 0;">
                                    <div class="slds-truncate" title="Available Stock">Available Stock</div>
                                </th>
                                <th scope="col" style="position: sticky;
                                                                z-index: 3;
                                                                top: 0;">
                                    <div class="slds-truncate" title="Batch Number">Batch Number</div>
                                </th>
                                <th scope="col" style="position: sticky;
                                                                z-index: 3;
                                                                top: 0;">
                                    <div class="slds-truncate" title="Serial Number">Serial Number</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={dataList} for:item="cell" for:index="index">
                                <tr key={cell}>
                                    <td>
                                        <div class="slds-truncate">
                                            {cell.SRNO}.
                                        </div>
                                    </td>
                                    <td>
                                        <div class="slds-truncate">
                                            <lightning-input style="float:left;" type="checkbox" data-id4={cell.customerName} data-id={cell.KUNNR} data-id2={cell.WERKS} data-id3={cell.SRNO} checked={cell.isSelected} disabled={cell.showQty} onchange={checkSelectedProducts}></lightning-input>
                                        <!--    <lightning-icon data-id={cell.customerName} data-id2={cell.MATNR} onclick={openOrderPopup} size="xx-small" style="cursor:pointer;" icon-name="standard:orders" title="Create Order"></lightning-icon>
                                        -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="slds-truncate">
                                            {cell.MATNR}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="slds-truncate">
                                            {cell.KUNNR}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="slds-truncate">
                                            {cell.customerName}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="slds-truncate">
                                            {cell.description}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="slds-truncate">
                                            {cell.WERKS}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="slds-truncate">
                                            {cell.LABST}
                                        </div>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <div class="slds-truncate">
                                            {cell.CHARG}
                                        </div>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <div class="slds-truncate">
                                            {cell.SERNR}
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div if:true={showModal}>
        <section role="dialog" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container" style="width: 60%;
                                                      max-width: 60%;">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" title="Image"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Create Order (Consignment Transfer)</h2>
                </header>
            
                <div class="slds-modal__content slds-p-around_medium" style="padding:0;">
                    <div class="slds-card">
                        <div class="slds-card__body slds-card__body_inner" style="padding:0; margin:0;">
                            <lightning-record-edit-form object-api-name="Order" onsubmit={onSubmitHandler} onsuccess={handleSuccess}>
                                <lightning-messages></lightning-messages>
                                <div class="slds-card" style="background: #f9f9f9;margin-top:5px;border: 1px solid #ddd;margin:10px;">
                                    <div class="slds-card__header slds-grid">
                                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                            <div class="slds-media__body">
                                                <h2 class="slds-card__header-title">
                                                    <span>Information</span>
                                                </h2>
                                            </div>
                                        </header>
                                    </div>
                                    <div class="slds-card__body slds-card__body_inner">
                                        <div class="slds-form__row">
                                            <div class="slds-form__item" role="listitem">
                                                <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                                                    <label class="slds-form-element__label" style="width: 100%;">From</label>
                                                    <lightning-input-field field-name="AccountId" value={accId} disabled="true" variant="label-hidden">

                                                    </lightning-input-field>
                                                </div>
                                            </div>
                                            <div class="slds-form__item" role="listitem">
                                                <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                                                    <label class="slds-form-element__label" style="width: 100%;">To</label>
                                                    <lightning-input-field field-name="CompanyAuthorizedById" value={userId} onchange={updateUserId} variant="label-hidden">

                                                    </lightning-input-field>
                                                </div>
                                                <div class="slds-form__item" role="listitem" style="display:none;">
                                                    <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                                                        <lightning-input-field field-name="OwnerId" value={userId}></lightning-input-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="slds-card" style="background: #f9f9f9;margin-top:10px;border:1px solid #ddd;;margin:10px;">
                                    <div class="slds-card__header slds-grid">
                                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                            <div class="slds-media__body">
                                                <h2 class="slds-card__header-title">
                                                    <span>Other Information</span>
                                                </h2>
                                            </div>
                                        </header>
                                    </div>
                                    <div class="slds-card__body slds-card__body_inner">
                                        <div class="slds-form__row">
                                            <div class="slds-form__item" role="listitem">
                                                <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                                                    <lightning-input-field field-name="Status" value={status}>
                                                    </lightning-input-field>
                                                </div>
                                            </div>
                                            <div class="slds-form__item" role="listitem">
                                                <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                                                    <lightning-input-field field-name="EffectiveDate" value={sDate}></lightning-input-field>
                                                </div>
                                            </div>
                                            <div class="slds-form__item" role="listitem" style="display:none;">
                                                <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                                                    <lightning-input-field field-name="Type" value={oType}></lightning-input-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="slds-card" style="background: #f9f9f9;margin-top:10px;border:1px solid #ddd;;margin:10px;">
                                    <div class="slds-card__header slds-grid">
                                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                            <div class="slds-media__body">
                                                <h2 class="slds-card__header-title">
                                                    <span>Selected Products</span>
                                                </h2>
                                            </div>
                                        </header>
                                    </div>
                                    <div class="slds-card__body slds-card__body_inner" style="overflow-x: auto;">
                                        <div class="slds-form__row">
                                            <table class="slds-tabl slds-table  slds-table_striped slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                                                <thead>
                                                    <tr class="slds-line-height_reset">
                                                        <th scope="col" style="position: sticky;
                                                                                        z-index: 3;
                                                                                        top: 0;">
                                                            <div class="slds-truncate" title="Material Number">Material Number</div>
                                                        </th>
                                                        <th scope="col" style="position: sticky;
                                                                                        z-index: 3;
                                                                                        top: 0;">
                                                            <div class="slds-truncate" title="Quantity">Quantity</div>
                                                        </th>
                                                        <th scope="col" style="position: sticky;
                                                                                        z-index: 3;
                                                                                        top: 0;">
                                                            <div class="slds-truncate" title="Description">Description</div>
                                                        </th>
                                                        <th scope="col" style="position: sticky;
                                                                                        z-index: 3;
                                                                                        top: 0;">
                                                            <div class="slds-truncate" title="Plant">Plant</div>
                                                        </th>
                                                        <th scope="col" style="position: sticky;
                                                                                        z-index: 3;
                                                                                        top: 0;">
                                                            <div class="slds-truncate" title="Available Stock">Available Stock</div>
                                                        </th>
                                                        <th scope="col" style="position: sticky;
                                                                                        z-index: 3;
                                                                                        top: 0;">
                                                            <div class="slds-truncate" title="Batch Number">Batch Number</div>
                                                        </th>
                                                        <th scope="col" style="position: sticky;
                                                                                        z-index: 3;
                                                                                        top: 0;">
                                                            <div class="slds-truncate" title="Serial Number">Serial Number</div>
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <template for:each={selectedList} for:item="cell" for:index="index">
                                                        <tr key={cell}>
                                                            <td>
                                                                <div class="slds-truncate">
                                                                    {cell.MATNR}
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="slds-truncate">
                                                                    <input type="text" value={cell.quantity} disabled={cell.showQty} data-id={index} class="slds-input" onkeyup={quantityChange}></input>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="slds-truncate">
                                                                    {cell.description}
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="slds-truncate">
                                                                    {cell.WERKS}
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="slds-truncate">
                                                                    {cell.LABST}
                                                                </div>
                                                            </td>
                                                            <td style="padding-left: 10px;">
                                                                <div class="slds-truncate">
                                                                    {cell.CHARG}
                                                                </div>
                                                            </td>
                                                            <td style="padding-left: 10px;">
                                                                <div class="slds-truncate">
                                                                    {cell.SERNR}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </template>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <footer class="slds-modal__footer">
                                    <lightning-button type="submit" variant="brand"
                                                                  name="submit"
                                                                  label="Create Consignment Transfer">
                                                    </lightning-button>
                                </footer>
                            </lightning-record-edit-form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>