h1 {
    color: rgb(0, 112, 210);
}

p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color: rgb(62, 62, 60);
}

.app {
    background-color: #fafaf9;
    height: 100vh;
    overflow: scroll;
}

.orange {
    color: darkgreen;
    font-size: 50px;
}

.title {
    font-size: 100px;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}