<template>

    <lightning-card title={cxCardTitle}>
        <div class="slds-text-align_center title">
            <span class={cxColourCode}>
                {cxScore}</span>
        </div>
    </lightning-card>
    </template>