<template>
    <div if:true={showLoader} class="exampleHolder">
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>
    
    <div if:true={showSelectTable} class="slds-card" style="min-height: 500px; border-radius: 0px 3px 3px 0;">
        <div class="slds-card__body slds-card__body_inner" style="margin:0;height: 550px;overflow-y: auto;padding:0;">
            <table if:true={dataListLength} class="slds-tabl slds-table  slds-table_striped slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th scope="col" style="position: sticky;
                                                z-index: 3;
                                                top: 0;
                                                width: 55px;"></th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Material Number">Material Number</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Customer Number">Customer Number</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Customer Name">Customer Name</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Description">Description</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Plant">Plant</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Available Stock">Available Stock</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Batch Number">Batch Number</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Serial Number">Serial Number</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={dataList} for:item="cell" for:index="index">
                        <tr key={cell}>
                            <td>
                                <div class="slds-truncate">
                                    <lightning-input type="checkbox"
                                    value={cell.isSelected}
                                    onchange={getSelectedRow}
                                    checked={cell.isSelected}></lightning-input>
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.MATNR}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.KUNNR}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.customerName}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.description}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.WERKS}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.LABST}
                                </div>
                            </td>
                            <td style="padding-left: 10px;">
                                <div class="slds-truncate">
                                    {cell.CHARG}
                                </div>
                            </td>
                            <td style="padding-left: 10px;">
                                <div class="slds-truncate">
                                    {cell.SERNR}
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>


    <div if:true={showSelectedTable} class="slds-card" style="min-height: 500px; border-radius: 0px 3px 3px 0;">
        <div class="slds-card__body slds-card__body_inner" style="margin:0;height: 550px;overflow-y: auto;padding:0;">
            <table if:true={dataListLength} class="slds-tabl slds-table  slds-table_striped slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Material Number">Material Number</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Customer Number">Customer Number</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Customer Name">Customer Name</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Description">Description</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="UoM">UoM</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Quantity">Quantity</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Plant">Plant</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Available Stock">Available Stock</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Batch Number">Batch Number</div>
                        </th>
                        <th scope="col" style="position: sticky;
                                                        z-index: 3;
                                                        top: 0;">
                            <div class="slds-truncate" title="Serial Number">Serial Number</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={selectedList} for:item="cell" for:index="index">
                        <tr key={cell}>
                            <td>
                                <div class="slds-truncate">
                                    {cell.MATNR}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.KUNNR}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.customerName}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.description}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.UoM}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate" if:true={cell.showQty}>
                                    <input type="text" class="slds-input"
                                        value={cell.quantity}
                                        onchange={validateQuantity} style="width: 60px;"></input>
                                </div>
                                <div class="slds-truncate" if:false={cell.showQty}>
                                    {cell.quantity}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.WERKS}
                                </div>
                            </td>
                            <td>
                                <div class="slds-truncate">
                                    {cell.LABST}
                                </div>
                            </td>
                            <td style="padding-left: 10px;">
                                <div class="slds-truncate">
                                    {cell.CHARG}
                                </div>
                            </td>
                            <td style="padding-left: 10px;">
                                <div class="slds-truncate">
                                    {cell.SERNR}
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</template>