.THIS .uiMessage {
    margin: 0;
}
.THIS .green {
    color: green;
    text-align: right;
}
.THIS .red {
    color: #c00;
    text-align: right;
}
.THIS .alignright {
    text-align: right;
}
.THIS .right {
    position: absolute;
    right: 0;
}