<template>
    <lightning-record-edit-form object-api-name={childObjectApiName}>
        <lightning-input-field id="fieldid" required={required} variant="label-hidden" field-name={targetFieldApiName}
            value={value} onchange={handleChange} disabled={disabled} style="width:200px;">
        </lightning-input-field>
    </lightning-record-edit-form>
</template>