.Draft, .Draft a, .Draft:before, .Draft:after { 
    background: #0b6fce;
    color: #fff;
}
.Activated, .Activated a, .Activated:before, .Activated:after { 
    background: #78c953;
    color: #fff;
}
.Submitted, .Submitted a, .Submitted:before, .Submitted:after { 
    background: #e27001;
    color: #fff;
}
.Rejected, .Rejected a, .Rejected:before, .Rejected:after { 
    background: #a845dc;
    color: #fff;
}
.Approved, .Approved a, .Approved:before, .Approved:after { 
    background: #f3d904;
    color: #333;
}
.Ordered, .Ordered a, .Ordered:before, .Ordered:after { 
    background: #a53711;
    color: #fff;
}
.CN, .CN a, .CN:before, .CN:after { 
    background: #66e9bd;
    color: #333;
}
.IN, .IN a, .IN:before, .IN:after { 
    background: #0b24be;
    color: #fff;
}
.PS, .PS a, .PS:before, .PS:after { 
    background: #419249;
    color: #fff;
}
.FS, .FS a, .FS:before, .FS:after { 
    background: #b6e32e;
    color: #333;
}
.true{
    /*background: #7ec77e;
    width: 100%;
    float: left;*/
    background: #b2ecb2;
    width: 16px;
    float: right;
    margin-right: calc(50% - 8px);
    border-radius: 30px;
    height: 16px;
    cursor:pointer;
}
.false .hver {
    display: none;
}
.true .hver {
    float: left;
    background: #fff;
    margin-top: 8px;
    padding: 2px;
    border-radius: 2px;
    font-size: 7px;
    font-weight: 700;
    box-shadow: 0 0 2px #ccc;
    margin-left: 100%;
}