<template>
    <div class="slds-grid slds-gutters" style="margin-top: -17px;">
        <div class="slds-card" style="width: 100%; padding-top: 10px;">
            <div class="slds-card__body slds-card__body_inner">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_2-of-12" style="height: 52px;
                    background: rgb(243, 243, 243);
                    border: none;
                    box-shadow: rgb(204, 204, 204) 0px 2px 3px;
                    margin-bottom: 5px;
                    text-align: center;
                    line-height: 3;
                    font-size: 16px;
                    font-weight: bold;
                    color: #666;
                    padding: 2px;"> Order Number ({orderCount})
                    </div>
                    <div class="slds-col slds-size_10-of-12" style="padding: 10px 5px;
                    background: rgb(243, 243, 243);
                    border: none;
                    box-shadow: rgb(204, 204, 204) 0px 2px 3px;
                    margin-bottom: 5px;">
                        <!--<div class="slds-grid slds-wrap">
                            <template for:each={statusList} for:item="cell" for:index="index">
                                <div key={cell} class="slds-col" style="padding: 10px; height: 50px;">
                                    {cell}
                                </div>
                            </template>
                        </div>-->
                        <div class="slds-path">
                            <div class="slds-grid slds-path__track">
                                <div class="slds-grid slds-path__scroller-container">
                                    <div class="slds-path__scroller">
                                        <div class="slds-path__scroller_inner">
                                            <ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">
                                                <template for:each={statusList} for:item="cell" for:index="index">
                                                    <li key={cell.status} class={cell.cls} role="presentation">
                                                        <a aria-selected="false" class="slds-path__link" href="javascript:void(0);">
                                                            <span class="slds-path__title">{cell.status}</span>
                                                        </a>
                                                    </li>
                                                </template>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 550px; overflow-y: auto;">
                    <template for:each={orderList} for:item="o" for:index="index">
                        <div key={o.Id} class="slds-grid slds-wrap" style="margin-top: 5px;">
                            <div class="slds-col slds-size_2-of-12" style="padding:0;">
                                <div class="slds-box slds-box_x-small" style="margin-right: 0px; padding:0;border:none;">
                                    <p style="text-align: center;
                                    padding: 7px;
                                    border-radius: 0px;
                                    color: rgb(51, 51, 51);
                                    background:#f9f9f9;">{o.order.OrderNumber}</p>
                                </div>
                            </div>

                            <div class="slds-col slds-size_10-of-12">
                                <ul style="border-bottom:1px solid #eee;" class="slds-path__nav" role="listbox" aria-orientation="horizontal">
                                    <template for:each={o.statusList} for:item="cell" for:index="index">
                                        <li key={cell} style="flex:1;padding:7px;text-align:center;">
                                            <span class={cell} title={o.order.OrderNumber}>
                                                <span class="hver">{o.order.Status}</span>
                                            </span>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>