<template>
        <template if:true={dataavailable}>
    <lightning-card title="AMPS Tasks Information">
        <div style="width: auto;">
        <template if:true={showTable}>
            <c-paginator records={opps} 
                        total-records={opps.length} 
                        show-search-box="true" 
                        onpaginatorchange={handlePaginatorChange}>
            </c-paginator>
            <lightning-datatable key-field="Id" 
                                data={recordsToDisplay} 
                                columns={columns}
                                onrowaction={handleRowActions}
                                hide-checkbox-column
                                row-number-offset={rowNumberOffset}
                                show-row-number-column="true"
                                onsort={updateColumnSorting}
                                sorted-by={sortBy}
                                sorted-direction={sortDirection}
                                onsave={handleSave}
                                draft-values={draftValues}>
            </lightning-datatable>
        </template>
        </div>

        <!-- Spinner -->
        <div if:true={showLoadingSpinner}>
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </div>

        <!-- Detail view modal -->
        <template if:true={bShowModal}>
            <section role="dialog" tabindex="-1"
                    aria-labelledby="modal-heading-01"
                    aria-modal="true"
                    aria-describedby="modal-content-id-1"
                    class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- modal header -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small" ></lightning-icon>
                    </button>
                    
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate" if:false={isEditForm}>Task Name</h2>
                    <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate" if:true={isEditForm}>Edit Task Details</h2>
                </header>
                <!-- modal body -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" if:false={isEditForm}>
                    <dl class="slds-list_horizontal slds-wrap">
                        <dt class="slds-item_label slds-truncate" title="First Name">Subject:</dt>
                        <dd class="slds-item_detail slds-truncate">{record.subject}</dd>
                        <dt class="slds-item_label slds-truncate" title="LastName">Status:</dt>
                        <dd class="slds-item_detail slds-truncate">{record.Status}</dd>
                        <dt class="slds-item_label" title="Phone">Comments :</dt>
                        <dd class="slds-item_detail"> {record.Description} </dd>
                        <dt class="slds-item_label slds-truncate" title="Email">Due Date :</dt>
                        <dd class="slds-item_detail slds-truncate">{record.ActivityDate} </dd>
                    </dl>
                </div>
                
                <!-- showing record edit form -->
                <div if:true={isEditForm} class="slds-theme_default">
                    <!--<lightning-record-edit-form layout-type="Full" record-id={currentRecordId} object-api-name="Task" onsubmit={handleSubmit} onsuccess={handleSuccess}>
                        <lightning-messages></lightning-messages>
                        <lightning-output-field field-name="subject"></lightning-output-field>
                        <lightning-input-field field-name="Status"></lightning-input-field>
                        <lightning-input-field field-name="Description"></lightning-input-field>
                        <lightning-input-field field-name="ActivityDate"></lightning-input-field><br/>
                        
                        <div style="text-align:center;">
                            <lightning-button class="slds-m-top_small"
                                              variant="brand"
                                              type="submit"
                                              name="update"
                                              label="Update Record"></lightning-button>
                        </div>
                    </lightning-record-edit-form><br/>-->
                    <lightning-input data-formfield="subject" label="Subject" required></lightning-input>
                    <lightning-input data-formfield="Status" label="Status" required></lightning-input>
                    <lightning-input data-formfield="Description" label="Description" required></lightning-input>
                    
                    <lightning-input data-formfield="ActivityDate" label="ActivityDate" required></lightning-input>
                    <div style="text-align:center;">
                        <lightning-button class="slds-m-top_small"  label="Update Record" click={handleFirstSubmit}></lightning-button>
                    </div>
                    
                    <div></div>
                </div>

                <!-- modal footer start-->
                <footer class="slds-modal__footer" if:false={isEditForm}>
                    <lightning-button variant="brand"
                                      label="Close"
                                      title="Close"
                                      onclick={closeModal}></lightning-button>
                </footer>
            </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
           
        </template>
            <!--table class="slds-table slds-table_cell-buffer slds-table_bordered">
               
                    <tr class="slds-line-height_reset">
                            <th class="slds-cell-buffer_right column" style="overflow: hidden;" scope="col">
                                    <div class="slds-truncate" title=""></div>
                                </th>
                        <th class="slds-cell-buffer_right column" style="overflow: hidden;" scope="col">
                            <div class="slds-truncate" title="Subject">Subject</div>
                        </th>
                        <th class="slds-cell-buffer_right column" style="overflow: hidden;" scope="col">
                            <div class="slds-truncate" title="Status">Status</div>
                        </th>
                        <th class="slds-cell-buffer_right column" style="overflow: hidden;" scope="col">
                            <div class="slds-truncate" title="Comments">Comments</div>
                        </th>
                        <th class="slds-cell-buffer_right column"  style="overflow: hidden;" scope="col">
                            <div class="slds-truncate" title="Due Date">Due Date</div>
                        </th>
                        <th class="slds-cell-buffer_right column" style="overflow: hidden;" scope="col">
                            <div class="slds-truncate" title="Assigned To">Assigned To</div>
                        </th>
                        
                    </tr>
                
                <template if:true={recordsToDisplay}>
                   
                        <template  for:each={recordsToDisplay} for:item="task" for:index="index">
            
                            <tr  key={task.Id} data-rangerid={task.Id} onmouseout={hideData} onmouseover={showData}>
                                    <td data-label="Bear Name" class="slds-cell-buffer_right column">
                                            <lightning-icon icon-name="action:preview" alternative-text="Preview" onclick={handleClick} title="Preview"></lightning-icon>
                                        </td>
                                <td data-label="Bear Name" class="slds-cell-buffer_right column cell">
                                    <div class=slds-truncate title="Subject">{task.oppLink}</div>
                                </td>
                                <td data-label="Bear Age" class="slds-cell-buffer_right column cell">
                                    <div class="slds-truncate" title="Status">{task.Status}</div>
                                </td>
                                <td data-label="Bear Birthday" class="slds-cell-buffer_right column cell">
                                    <div class="slds-truncate" title="comments">{task.Description}</div>
                                </td>
                                <td data-label="Bear Height" class="slds-cell-buffer_right column cell">
                                    <div class="slds-truncate" title="ActivityDate">{task.ActivityDate}</div>
                                </td>
                                <td data-label="Bear Sex" class="slds-cell-buffer_right column cell">
                                    <div class="slds-truncate" title="Bear Sex">{task.OwnerId}</div>
                                </td>
                            </tr>
                           <template if:true={hideLink}>
                            <tr  key={task.Id} >
                                  
                                    <td data-label="Bear Sex" class="slds-cell-buffer_right" style= "white-space: break-spaces;">
                                          {task.Description}
                                        </td>    
                                        
                                    </tr>      
                            </div>

                        </template>
                        <template if:true={isModalOpen}>
                               
                                <section key={task.Id} role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                                    <div class="slds-modal__container">
                                       
                                        <header class="slds-modal__header">
                                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                                <lightning-icon icon-name="utility:close"
                                                    alternative-text="close"
                                                    variant="inverse"
                                                    size="small" ></lightning-icon>
                                                <span class="slds-assistive-text">Close</span>
                                            </button>
                                            <h2 class="slds-text-heading_medium slds-hyphenate">Modal/PopUp Box header LWC</h2>
                                        </header>
                                       
                                        <div class="slds-modal__content slds-p-around_medium" >
                                            <p><b>Modals/Popup Box are used to display content in a layer above the app.
                                            </b></p>
                                            <p><b>This paradigm is used in cases such as the creation or editing of a record, as well as various types of messaging and wizards.
                                            </b></p>
                                        </div>
                                       
                                        <footer class="slds-modal__footer">
                                            <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                                            <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
                                        </footer>
                                    </div>
                                </section>
                                <div key={task.Id} class="slds-backdrop slds-backdrop_open"></div>
                            </template>
                        
                            
            
                            </template>
                        
                </template>
                
            </table>-->
            <c-box-popover topmargin={top} leftmarginn={left} myranger={ranger}></c-box-popover>
        
    </lightning-card>
    </template>
</template>