.THIS .slds-button_icon-bare{
    display: none;
    }

    .THIS .slds-truncate {
        text-overflow: inherit;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word; 
    }

    table {
        width: 100%;
    }
    td.cell {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    td.column {
        width: 12.5%;
    }
    td.column1 {
        position: relative;width: 99%; display:block; box-sizing:border-box; clear:both
    }